<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Digital Signature Algorithm</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/noty.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/static/js/noty.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        <script type="text/javascript">
            $(function () {
                var canvas = document.getElementById('signature-pad');

                function resizeCanvas() {
                    var ratio =  Math.max(window.devicePixelRatio || 1, 1);
                    canvas.width = canvas.offsetWidth * ratio;
                    canvas.height = canvas.offsetHeight * ratio;
                    canvas.getContext("2d").scale(ratio, ratio);
                }

                window.onresize = resizeCanvas;
                resizeCanvas();

                var signaturePad = new SignaturePad(canvas, {
                    backgroundColor: 'rgb(255, 255, 255)'
                });

                $('#save-jpeg').click(function () {
                    if (signaturePad.isEmpty()) {
                        return alert("Please provide a signature first.");
                    }

                    var data = signaturePad.toDataURL('image/jpeg');
                    window.open(data);
                });
                
                $('#clear').click(function() {
                    clear();
                });
                
                $('#save').click(function() {
                    var full_name = $.trim($('#full_name').val());
                    if (full_name.length == 0 || signaturePad.isEmpty()) {
                        noty('warning', 'Please enter full name and signature!');
                        return false;
                    }
                    
                    $.ajax({
                        method: "POST",
                        url: '/save',
                        data: {
                            full_name: full_name,
                            image: signaturePad.toDataURL(),
                        },
                        success: function(response) {
                            if (response.success) {
                                clear();
                                var tr = '<tr>' +
                                            '<td>' +
                                                '<img src="'+ response.signature['image'] +'" width="300">' +
                                            '</td>' +
                                            '<td>' +
                                                response.signature['signature'].substring(0, 50) + '...' +
                                            '</td>' +
                                            '<td>' +
                                                '<a href="javascript:;" onclick="verify(\''+ response.signature['_id'] +'\');">Verify</a>'+
                                            '</td>' +
                                        '</tr>';
                                $('#histories').append(tr);
                                noty('success', 'The signature successfully saved!');
                            }
                            else {
                                noty('error', 'Error occurred!');
                            }
                        }
                    });
                });
                
                function clear() {                
                    signaturePad.clear();
                    $('#full_name').val("");
                }
            });

            function verify(signature_id) {
                var full_name = prompt("Please enter full name?"); 
                if (full_name) {
                    $.ajax({
                        method: "POST",
                        url: '/verify',
                        data: {
                            full_name: full_name,
                            signature_id: signature_id,
                        },
                        success: function(response) {
                            if (response.success) {
                                noty('success', 'Signature successfully verified!');
                            }
                            else {
                                noty('error', 'Can\'t verify the signature!');
                            }
                        }
                    });
                }
            }
            
            function noty(type, text) {
                new Noty({
			        type: type,
			        text: text,
			        timeout: 4000,
			        layout: 'bottomRight',
		        }).show();
            }
        </script>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 align="center">Digital Signature Test</h2>
                    <label>Full Name</label>
                    <input type="text" id="full_name" name="full_name" class="form-control col-lg-6">
                    <label class="mt-2 mb-2">Signature</label>
                    <canvas id="signature-pad" class="signature-pad"></canvas>
                    <div class="mt-2">
                        <button id="clear" class="btn btn-danger">Clear</button>
                        <button id="save" class="btn btn-success">Save</button>
                    </div>
                </div>
                <div class="col-lg-12">
                    <h2 class="mt-2">History</h2>
                    <div class="history">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th width="33%">
                                        Pic
                                    </th>
                                    <th width="33%">
                                        Digital Signature
                                    </th>
                                    <th width="33%">
                                        &nbsp;
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="histories">
                                <% signatures.forEach(function(signature) { %>
                                <tr>
                                    <td>
                                        <img src="<%= signature.image %>" width="300">
                                    </td>
                                    <td>
                                        <%= signature.signature.substring(0, 50) %>...
                                    </td>
                                    <td align="center">
                                        <a href="javascript:;" onclick="verify('<%= signature._id %>');">Verify</a>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
